 body {
      font-family: Arial;
    }
    .container {
      display: grid;
      grid-template: 80px 80px 80px 80px 80px 80px 80px / 80px 80px 80px 80px 80px ;
      grid-gap: 10px;
      height: 100vh;
      grid-template-areas: ". header header header ."
                           ". nav article aside ."
                           ". nav article aside ."
                           ". nav article aside ."
                           ". nav article aside ."
                           ". nav article aside ."
                           ". footer footer footer .";
    }
    
    .header {
      grid-area: header;
	  background-color: red;
    }
    .nav {
      grid-area: nav;
	  background-color: green;
    }
    .article {
      grid-area: article;
	  background-color: green;
    }
	.aside {
      grid-area: aside;
	  background-color: green;
    }
    .footer {
      grid-area: footer;
      background-color: blue;
    }