body {
  font-family: 'Lato', sans-serif;
}
.container {
  display: grid;
  grid-gap: 10px;
  height: 100vh;  
}

.header {
  grid-area: header;
	background-color: red;
}
.nav {
  grid-area: nav;
	background-color: green;
}
.article {
  grid-area: article;
	background-color: green;
}
.aside {
  grid-area: aside;
	background-color: green;
}
.footer {
  grid-area: footer;
  background-color: blue;
}
p {
  display: flex;
  justify-content: center;
  color: white; 
}


/* cuando la pantalla sea mas grande de 320px a 480px*/
@media screen and (min-width: 320px) {
    .container {
        grid-template: 60px auto auto auto 60px  / 300px ;
        grid-template-areas: "header "
                             "article"
                             "nav "
                             "aside"
                             "footer";
    }
}
/* cuando la pantalla sea mas grande de 480px a 768px*/
@media screen and (min-width: 480px) {
  .container {
    grid-template: 60px auto auto auto 60px  / 300px ;
    grid-template-areas: "header "
                         "article"
                         "nav "
                         "aside"
                         "footer";
}
}

/* cuando la pantalla sea mas grande de 768px a 1024px*/
@media screen and (min-width: 768px) {
    .container {
        grid-template: 60px 1fr 60px/ 250px 1fr 250px;
      grid-template-areas: "header header header"
                           "nav article aside "
                           "footer footer footer";
  }
  }