body {
  font-family: 'Lato', sans-serif;
}
.container {
  display: grid;
  grid-template: 100px 1fr 150px/ 200px 1fr 200px;
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas: "header header header"
                           "section section section "
                           "footer footer footer";
}
.section {
  grid-area: section;
	background-color: black;
	display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-gap: 10px;
  grid-template-areas: "nav article aside";
  
}
.header {
  grid-area: header;
	background-color: red;
}
.nav {
  grid-area: nav;
	background-color: green;
}
.article {
  grid-area: article;
	background-color: green;
}
.aside {
  grid-area: aside;
	background-color: green;
}
.footer {
  grid-area: footer;
  background-color: blue;
}
p {
  display: flex;
  justify-content: center;
  color: white;
  
}
    