 body {
      font-family: Arial;
    }
    .container {
      display: grid;
      grid-template: repeat(4,1fr) / repeat(3,1fr);    
      grid-gap: 10px;
      height: 100vh;
    }
    
    .item {
        background: lightblue;
        border: 1px solid red ;
    }
    .item:nth-of-type(1) {
       background: blue;
       grid-column-start: 1;
       grid-column-end: 3;
      }
      .item:nth-of-type(8) {
        grid-column: 2 / 4;
       } 
       .item:nth-of-type(7) {
        grid-column: 2 / 4;
       } 
       .item:nth-of-type(4) {
        grid-column: 1 / -1;
       } 