body {
    margin: 5px;
    font-family: 'Lato', sans-serif;
    background-color: rgb(179, 179, 179);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(./images/fondoMobil.jpg);
    background-repeat: no-repeat; 
    background-position-x: center;
    background-size:100% 100%;
}
.container {
    display: grid;
    grid-template: auto 20px 25px 20px 25px 20px 25px 20px 25px 10px auto 20px auto auto 85px 1fr 20px 20px / auto ;
    height: 100vh;
    grid-template-areas: 
    "  header "
  "  labelUserName "
  "  inputUserName "
  "  labelPassword "
  "  inputPassword "
  "  labelConfirmPassword "
  "  inputConfirmPassword "
  "  labelEmail "
  "  inputEmail " 
  "  .  "           
  "  buttonCreateUser "
  "  createSMedia "
  "  social "
  "  buttonHome "
  "  logo "
  "  . "
  "  footer "
  "  . ";
}


.header{
  grid-area: header;
  font-size: 10px;
  justify-self: center;
}
h1{
  margin-top: 0px;
}
.labelUserName{
  grid-area: labelUserName;
  padding: 0px 10px 0px 2px;
}
.inputUserName{
  grid-area: inputUserName;
  padding: 10px 10px 0px 2px;
}
.labelPassword{
  grid-area: labelPassword;
  padding: 0px 10px 0px 2px;
}
.inputPassword{
  grid-area: inputPassword;
}
.labelConfirmPassword{
  grid-area: labelConfirmPassword;
  padding: 0px 10px 0px 2px;
}
.inputConfirmPassword{
  grid-area: inputConfirmPassword;
}
.labelEmail{
  grid-area: labelEmail;
  padding: 0px 10px 0px 2px;
}
.inputEmail{
  grid-area: inputEmail;
}
.createUserSocialmedia{
  grid-area: createSMedia;
  justify-self: center;
}
.createUserSocialmedia p{
  margin: 0px;
  padding-top: 5px;
  justify-self: center;
}
.social{
  grid-area: social;
  justify-self: center;
}
.buttonCreateUser{
  grid-area: buttonCreateUser;
  border-radius: 6px;
  border-bottom: 2px solid #7f7f80;
  height: 40px;
  width: 300px;
  justify-self: center;
}
.buttonCreateUser:hover{
  cursor: pointer;
}  
.buttonHome{
  grid-area: buttonHome;
  border-radius: 6px;
  border-bottom: 2px solid #7f7f80;
  width: 300px;
  height: 40px;
  justify-self: center;
}
.buttonHome a{
  color: black;
  text-decoration: none;
}
.buttonHome:hover{
  cursor: pointer;
} 
.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  width: 20px;
  margin: 10px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: rgb(165, 165, 165);
  color: white;
  border-bottom: 2px solid #2c2c2c;
}
.fa-twitter {
  background: rgb(165, 165, 165);
  color: white;
  border-bottom: 2px solid #2c2c2c;
}
.fa-google {
  background: rgb(165, 165, 165);
  color: white;
  border-bottom: 2px solid #2c2c2c;
}
.fa-instagram {
  background: rgb(165, 165, 165);
  color: white;
  border-bottom: 2px solid #2c2c2c;
}
.logo{
  grid-area: logo;
  width: 80px;
  padding-top: 5px;
  justify-self: center;
  margin: 0px;
}
.footer{
  grid-area: footer;
  justify-self: center;
}
.footer a{
  color: white;
  text-decoration: none;
}
.footer a:hover{
  cursor: pointer;
  text-decoration: underline;
} 
@media screen and (min-width: 768px) {
  body {
    background-image: url(./images/fondo.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:100% 100%;
}
}

