/*header///////////////////*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
header {
	background-color: bisque;
	width: 100%;
	height: 100px;
	margin: 0px;
	padding: 0px;
	display: flex;  
	flex-flow: column;
}

.main {
   height: 80%;
   display: flex;
   flex-flow: row;
}
.main-article {
	background: #CFC;
	flex: 60%;
	order: 2;
}
.main-nav {
	background: #CCF;
	flex: 20%;
	order: 1;
}
.main-aside {
	background: #CCF;
	flex: 20%;
	order: 3;
}
header, footer {
	display: block;
	min-height: 10%;
	background: #FC6;