body {
    margin: 5px;
    font-family: 'Lato', sans-serif;
    background-color: rgb(179, 179, 179);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(./images/fondoMobil.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:100% 100%;
}
.container {
    display: grid;
    grid-template: auto  auto 20px 25px 20px 20px 30px auto 85px 1fr 20px 20px / 300px ;
    height: 100vh;
    grid-template-areas: 
    " header "
    " labelIntro "
    " labelEmail "
    " inputEmail " 
    " .  "           
    " buttonSendEmail "
    " . "
    " buttonHome "
    " logo "
    " . "
    " footer "
    " . ";
}

.header{
  grid-area: header;
  font-size: 10px;
  justify-self: center;
  margin-bottom: -24px;
}

.labelIntro{
  grid-area: labelIntro; 
}
.labelIntro p{
    width: 300px;
  }

.labelEmail{
  grid-area: labelEmail;
}
.inputEmail{
  grid-area: inputEmail;
}
.buttonSendEmail{
  grid-area: buttonSendEmail;
  border-radius: 6px;
  border-bottom: 2px solid #7f7f80;
  height: 40px;
  width: 300px;
  justify-self: center;
}
.buttonSendEmail:hover{
  cursor: pointer;
}  
.buttonHome{
  grid-area: buttonHome;
  border-radius: 6px;
  border-bottom: 2px solid #7f7f80;
  width: 300px;
  height: 40px;
  justify-self: center;
}
.buttonHome a{
  color: black;
  text-decoration: none;
}
.buttonHome:hover{
  cursor: pointer;
} 
.logo{
  grid-area: logo;
  width: 80px;
  padding-top: 5px;
  justify-self: center;
  margin: 0px;
}
.footer{
  grid-area: footer;
  justify-self: center;
}
.footer a{
  color: white;
  text-decoration: none;
}
.footer a:hover{
  cursor: pointer;
  text-decoration: underline;
} 
@media screen and (min-width: 768px) {
  body {
    background-image: url(./images/fondo.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:100% 100%;
}
}



   